/*
medida mobile: 360px
medida tablet: 720px
medida desktop: 1020px  
*/

* {
  margin: 0;
  font-family: 'Alkatra', cursive;
}

body {
  display: grid;
  font-size: 90%;
  color: #666;
  background-color: midnightblue;
  backdrop-filter: sepia(60%);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

nav img {
  margin: 0;
  width: 100px;
  height: 100px;
}

img {
  display: block;
  margin: auto;
}

li {
  list-style-image: url("../images/icon-poesia.png");
  line-height: 1.6em;
}

#scroll {
  overflow-x: auto;
  margin: 22px;
  border-radius: 20px;
}

table {
  border-spacing: 0px;
}

th,
td {
  padding: 5px 4px 5px 4px;
  border-spacing: 0px;
  font-size: 90%;
  margin: 0px;
}

th img {
  display: flex;
}

th,
td {
  text-align: left;
  background-color: #547ca0;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8;
}

tr.head th {
  color: #fff;
  background-color: rgb(212, 212, 101);
  border-bottom: 2px solid #547ca0;
  border-right: 1px solid #749abe;
  border-top: 1px solid #90d4d6;
  text-align: center;
  text-shadow: -1px -1px 1px #666666;
  letter-spacing: 0.15em;
}

td {
  text-shadow: 1px 1px 1px #ffffff;
}

tr.even td,
tr.even th {
  background-color: #dd6945;
}

tr.head th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
}

fieldset {
  width: 310px;
  margin-top: 20px;
  border: 1px solid #d6d6d6;
  background-color: black;
  line-height: 1.6em;
  color: white;
}

legend {
  font-style: italic;
  color: firebrick;
}

input[type="text"]:focus,
input[type="text"]:hover {
  background-color: #d0e2f0;
  border: 1px solid #999999;
}

input[type="submit"] {
  font-family: 'Alkatra', cursive;
  border: 1px solid #006633;
  background-color: #009966;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

input[type="submit"]:hover {
  border: 1px solid #006633;
  background-color: #00cc33;
  color: #ffffff;
  cursor: pointer;
}

.title {
  float: left;
  width: 160px;
  clear: left;
}

.submit {
  width: 310px;
  text-align: left;
}

form {
  margin: 12px auto;
}

/* Mobile */
